<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
     this is a home
     <img src="/image/del.png" alt=" image not found">
  
</body>
</html>