<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
     
     <div class="div1">
        <div class="hero">
        <article id="a1">Find the Boundariese.Push Through</article>
        <article id="a2">Summer Sale</article>
        <article class="a3">
            <div id="a4">CMT</div>
            <b>CLIMB <br>THE <br> MOUNTAIN</b>
        </article>
        </div>
        <div>
     <img src="/image/pngtree-indian-girl-with-shopping-bag-png-image_11436102-removebg-preview.png" alt=" image not found">
     </div>
     <div class="d">
     <article id="d1">70%  OFF</article>
     <div class="d2">
     <article id="d3">STARTING AT</article>
     <article id="d4">$199</article>
     <button>SHOP NOW!</button>
     </div>
     </div>
     </div>


     <div id="h1">SHOP BY CATEGORY </div>
     <section class="img2">
        <article>
        <img src="https://www.portotheme.com/wordpress/porto/shop3/wp-content/uploads/sites/214/2024/01/shop3-soft-category-1.jpg" alt="">
        <div id="h2">  SUNGLASSES </div>
        <div id="h3">2 PRODUCTS</div>
        </article>
        <article>
        <img src="https://www.portotheme.com/wordpress/porto/shop3/wp-content/uploads/sites/214/2024/01/shop3-soft-category-2.jpg" alt="">
        <div id="h2">BAGS</div>
        <div id="h3">4 PRODUCTS</div>
        </article>
        <article>
        <img src="https://www.portotheme.com/wordpress/porto/shop3/wp-content/uploads/sites/214/2024/01/shop3-soft-category-3.jpg" alt="">
         <div id="h2">SHOES</div>
        <div id="h3">4 PRODUCTS</div>
        </article>
        <article>
        <img src="https://www.portotheme.com/wordpress/porto/shop3/wp-content/uploads/sites/214/2024/01/shop3-soft-category-4.jpg" alt="">
         <div id="h2">ACCESSORIES</div>
        <div id="h3">4 PRODUCTS</div>
        </article>
        <article>
        <img src="https://www.portotheme.com/wordpress/porto/shop3/wp-content/uploads/sites/214/2024/01/shop3-soft-category-5.jpg" alt="">
         <div id="h2">HATS</div>
        <div id="h3">4 PRODUCTS</div>
        </article>
        <article>
        <img src="https://www.portotheme.com/wordpress/porto/shop3/wp-content/uploads/sites/214/2024/01/shop3-soft-category-6.jpg" alt="">
         <div id="h2">JACKETS</div>
        <div id="h3">4 PRODUCTS</div>
        </article>
     </section>


    <section class="sec2">
        <article class="camera">
            <div id="p1">Porto Watches</div>
            <div id="p2"> 30%Off</div>
            <div id="p3">
                <img src="https://www.portotheme.com/wordpress/porto/shop3/wp-content/uploads/sites/214/2024/01/shop3-soft-banner-1.png" alt="">
               
            </div>
            <div id="p4">
                <div>
                  <button>shop now!</button>
                  </div>
                  <div>
                <img id="p5" src="https://www.portotheme.com/wordpress/porto/shop3/wp-content/uploads/sites/214/2024/01/shop3-soft-banner-1-brand.png" alt="">
                </div>
            </div>
        </article>

        <article class="fashion">
            <div id="c1">TRENDING <br> Fashion Sales</div>
            <div id="c2">STARTING AT $99</div>
            <button>SHOP NOW</button>
            <div id="c3">
                <img id="c4" src="https://www.portotheme.com/wordpress/porto/shop3/wp-content/uploads/sites/214/2024/01/shop3-soft-banner-2.png" alt="">
            
                <img id="c5" src="https://www.portotheme.com/wordpress/porto/shop3/wp-content/uploads/sites/214/2024/01/shop3-soft-banner-1-brand.png" alt="">
            </div>
        </article>
    </section>

  
</body>
</html>