<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .div1{
            background-color: rgb(182, 206, 206);
            height: 700px;
            display: flex;
            justify-content: center;
            
        }
       .div1 img{
            width: 800px;
            height: 600px;
        }
    </style>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
     
     <div class="div1">
        <div>
        <article>Find the Boundariese.Push Through</article>
        <article>Summer Sale</article>
        <article>
            <div>CMT</div>
            <b>CLIMB <br>THE <br> MOUNTAIN</b>
        </article>
        </div>
        <div>
     <img src="/image/pngtree-indian-girl-with-shopping-bag-png-image_11436102-removebg-preview.png" alt=" image not found">
     </div>
     <div>
     <article>70% OFF</article>
     <article>STARTING AT</article>
     <article>$199</article>
     <button>SHOP NOW!</button>
     </div>
     </div>

  
</body>
</html>